footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 72px 100px;
    border-top: .5rem solid rgb(35,35,35);
    margin-top: 50px;
}
.footer_content {
    height: 100%;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_text {
    font-size: 14px;
    text-decoration: underline;
    color: rgba(255,255,255,0.7)
}
.footer_logo {
    position: absolute;
    width: 100px;
    height: 40px;
    object-fit: cover;
    bottom: 0;
    right: 0px;
}